---
import { Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<BaseLayout title="Landing">
	<h1>Bienvenido a EnfoKids</h1>
	boton para ir a inicio
	<Button>
      <link href="/login">Login</Link>
    </Button>
</BaseLayout>
